.userButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.userButton img {
  width: 2rem;
  aspect-ratio: 1;
  border: 100%;
  object-fit: cover;
}

.userButton .arrow {
  width: 1rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.userOptions {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 130%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.151);

  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.userOption {
  cursor: pointer;
  padding: 0.5rem;
  border: 0.5rem;
}

.userOption:hover {
  background-color: #f1f1f1;
  color: grey;
}

.loginLink {
  font-size: 1.125rem;
  padding: 1rem;
  border-radius: 2rem;
}

.loginLink:hover {
  background-color: #f1f1f1;
}

@media (width <= 29.75em) {
  .userButton {
    display: none;
  }
}
