.editor {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
}

/* LEFT SIDE */

.layers {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.layers h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.layers p {
  font-size: 0.875rem;
  color: gray;
  margin-top: 0.25rem;
}

.layer {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  border: 1px solid red;
  cursor: pointer;
}

.layer:hover,
.layer.selected {
  background-color: #f0f0f0;
}

.layerImage {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* MIDDLE */

.workspace {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  padding-block: 4rem;
}

.canvas {
  width: 23.5rem;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas img {
  width: 100%;
}

.text {
  position: absolute;
  z-index: 999;
  max-width: 100%;
  border: 1px dashed red;
}

.text input {
  width: 100%;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: grab;
}

.deleteTextButton {
  position: absolute;
  top: -36px;
  right: 0;
  background-color: #f0f0f0;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
